DATABASE_URL=pg-database-url
CRYPTO_JS_SECRET_KEY=secret-key
JWT_SECRET=secret-key
JWT_EXPIRES_IN=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:3001
ADMIN_URL=http://localhost:3002
WEBSOCKET_URL=http://localhost:8080